.jumbotron-hero
{
		height: 400px ;
		background-image: url("photo_main.jpg") ;
		background-position: center ;
		background-repeat: no-repeat ;
		background-size: cover ;
}

.containerMain
{
	color: white ;
	text-align: center ;
	margin: 60px ;
}

body
{
	font-family: 'Raleway', sans-serif ;
}